<div class="d-flex w-100 vh-100 flex-column">

  <div class="toolbar w-100px d-flex flex-row bg-dark text-white">
    <h1 class="title fs-3 p-2">Webbing Assignment To-Do List</h1>
  </div>

  <div class="content vh-100 p-2 d-flex flex-row">

    <div class="vh-100 w-50">
      <div class="title">
        <span class="fs-4">Tasks Operations</span>
      </div>
    </div>
    <div class="vh-100 w-50">
      <div class="title">
        <span class="fs-4">Done Tasks</span>
      </div>
    </div>
  </div>

</div>